<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <table border="2">
      <h3>Sorted List of Candidates from highest marks to lowest in each rounds</h3>
        <tr>
          <td>Candidate Name : </td>
          <td>First Round</td>
          <td>Second Round</td>
          <td>Third Round</td>
        </tr>
            <% candidate.forEach(function(item){ %>
                <tr>
                  <td><%= item.candidate_name%></td>
                  <td><%= item.first_round%></td>
                  <td><%= item.second_round%></td>
                  <td><%= item.third_round%></td>
                </tr>
          <%  })%>
    </table>

  </body>
</html>
