<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Welcome to Student Portal </h2>
      <h3>Kindly Regiter here !! </h3>
        <form class="" action="/" method="post">
          <h4>Name : </h4> <input type="text" name="candidate_name" value=""> <br>
          <h4>Email Address : </h4> <input type="email" name="candidate_email" value=""> <br><br>
          <button type="submit" name="button">Register</button>
        </form>
      
  </body>
</html>
